@using CollectionsManager.DAL.Constants
@model CollectionsManager.BLL.DTO.Collections.CollectionToManipulateDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/CollectionDetails.css" />
    <title>EditCollection</title>
</head>
<body>

<div class="text-center" style="margin-top: 10px"><h4>Edit collection</h4></div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="EditCollection" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownListFor(x => x.Category, Html.GetEnumSelectList<CollectionCategory>(), "Select Category", new { @class = "form-control" })
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(x => x.Description, new { id = "descriptionInput", @class = "form-control", rows = "10" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            @if (Model.CustomFields is not null && Model.CustomFields.Any())
            {
                <div class="text-center" style="margin-top: 10px"><h4>Custom fields</h4></div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th style="text-align: center">
                            To Remove
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.CustomFields.Count; i++)
                    {
                        @Html.HiddenFor(x => Model.CustomFields[i].Id)
                        @Html.HiddenFor(x => Model.CustomFields[i].CollectionId)
                        <tr>
                            <td>
                                <input asp-for="@Model.CustomFields[i].Name" class="form-control" />
                                <span asp-validation-for="@Model.CustomFields[i].Name" class="text-danger"></span>
                            </td>
                            <td>
                                @Html.DropDownListFor(x => Model.CustomFields[i].Type, Html.GetEnumSelectList<CustomPropertyType>(), "Select type", new { @class = "form-control" })
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @Html.CheckBoxFor(x => Model.CustomFields[i].ToRemove)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div id="descriptionPreviewBlock" style="display: none">
            <div class="text-center" style="margin-top: 10px"><h4>Description preview</h4></div>
            <div class="description-block" id="previewViewBlock">
            </div>
        </div>
    </div>
</div>

<script src="~/js/MarkDownScript.js" asp-append-version="true"></script>
</body>
</html>
